body{
        background-color: #DCDCDC;
        font-family: 'Open Sans', sans-serif;
        color: #000000;
}

.container {
    margin-top: 30px;
}

.reg_title{
    display: block;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    
}
.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    font-weight: bold;
    
}
.btn_reg {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    align-items: center;


}

input, textarea, button{
    margin-bottom: 20px;
}
.col-12 {
    margin-bottom: 30px;

}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    font-weight: bold;

  
}
.links{
    display: flex;
    justify-content: center;
}
.links a
{
margin-right: 5px;
margin-left: 5px;
font-weight: bold;


}

.about {
    margin-top: 15px;
 
}

.title_logo {
    justify-content: right;

}

.title_p {
    border: 2px solid #ff0000;

}

.title_n {
    border: 2px solid #0026ff;

}
.positive {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;

}

.negative {
    background-color: #ced9ff;
    color: #000000;
    border: 1px solid #ffffff;
    text-align: center;
    font-weight: bold;


}
.p_photo{
    background: url(../image/positive.jpg) no-repeat center center;
    background-size: 80%;
    width: 100px;
    height: 100px;
    
}

.n_photo{
    background: url(../image/negative.png) no-repeat center center;
    background-size: 80%;
    width: 100px;
    height: 100px;
}

.nav_logo{
    background: url(../image/logo.png) no-repeat center center;
    background-size: 100%;
    width: 176px;
    height: 100px;
}

.nav_bar {
    font-size: 30px;
    font-weight: bold;
}

.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.button_js{
    text-align: center;

}

#myButton {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #ff0000;
    color: #000000;
    font-weight: bold;

}
